<!DOCTYPE html>
<html lang="ja">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="description" content="DiscordBotの設定を行います。" />
        <link rel="icon" href="https://i.gyazo.com/adeb0735f71e695c7baf4c2ae6ede3e0.png"/>
        <meta property="og:url" content="/" />
        <meta property="og:image" content="https://i.gyazo.com/adeb0735f71e695c7baf4c2ae6ede3e0.png" />
        <meta property="og:type" content=" website" />
        <meta property="og:locale" content="ja_JP" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Title }}</title>
    </head>
    <body>
        {{template "content" . }}
    </body>
    {{ .JsScriptTag }}
</html>
