{{ define "content" }}
    <main>
        <!-- 入力フォーム -->
        <form action="#" id="form">
            <label for="lineNotifyToken">LINE Notifyのトークン</label>
            <input id="lineNotifyToken" type="password" name="line_notify_token">
            {{ .LineEntered.LineNotifyToken }}
            <br/>

            <label for="lineBotToken">LINE Botのトークン</label>
            <input id="lineBotToken" type="password" name="line_bot_token">
            {{ .LineEntered.LineBotToken }}
            <br/>

            <label for="lineBotSecret">LINE Botのシークレット</label>
            <input id="lineBotSecret" type="password" name="line_bot_secret">
            {{ .LineEntered.LineBotSecret }}
            <br/>

            <label for="lineGroupId">LINEグループID</label>
            <input id="lineGroupId" type="password" name="line_group_id">
            {{ .LineEntered.LineGroupID }}
            <br/>

            <label for="lineClientId">LINEのクライアントID</label>
            <input id="lineClientId" type="password" name="line_client_id">
            {{ .LineEntered.LineClientID }}
            <br/>

            <label for="lineClientSecret">LINEのクライアントシークレット</label>
            <input id="lineClientSecret" type="password" name="line_client_secret">
            {{ .LineEntered.LineClientSecret }}
            <br/>

            <label for="defaultChannel">Discordに送信するデフォルトのチャンネル</label>
            <select id="defaultChannel" name="default_channel_id" >
                {{ .Channels }}
            </select>
            <br/>

            <label for="debugMode">デバッグモード</label>
            <input id="debugMode" type="checkbox" name="debug_mode" value="{{ .LineEntered.LineDebugMode }}">
            <br/>

            {{ .SubmitTag }}
        </form>
    </main>
    <!-- 以下JavaScriptを記述 -->
{{ end }}
