{{ define "content" }}
    <main>
        <ul>
            <li>
                <a href="/guild/{{ .GuildID }}">
                    <img src="{{ .GuildIconUrl }}" alt="{{ .GuildName }}">
                </a>
            </li>
            <li>
                <a href="/guild/{{ .GuildID }}">
                    {{ .GuildName }}
                </a>
            </li>
        </ul>
        <h1>LINEからDiscordへの送信設定</h1>
        <!-- 入力フォーム -->
        <form action="#" id="form">
            <label for="lineNotifyToken">LINE Notifyのトークン</label>
            <input id="lineNotifyToken" type="password" name="lineNotifyToken">
            {{ .LineEntered.LineNotifyToken }}
            <br/>
            <label for="linnNotifyTokenDelete">LINE Notifyのトークン削除</label>
            <input id="lineNotifyTokenDelete" type="checkbox" name="lineNotifyTokenDelete">
            <br/>

            <label for="lineBotToken">LINE Botのトークン</label>
            <input id="lineBotToken" type="password" name="lineBotToken">
            {{ .LineEntered.LineBotToken }}
            <br/>
            <label for="lineBotTokenDelete">LINE Botのトークン削除</label>
            <input id="lineBotTokenDelete" type="checkbox" name="lineBotTokenDelete">
            <br/>

            <label for="lineBotSecret">LINE Botのシークレット</label>
            <input id="lineBotSecret" type="password" name="lineBotSecret">
            {{ .LineEntered.LineBotSecret }}
            <br/>
            <label for="lineBotSecretDelete">LINE Botのシークレット削除</label>
            <input id="lineBotSecretDelete" type="checkbox" name="lineBotSecretDelete">
            <br/>

            <label for="lineGroupId">LINEグループID</label>
            <input id="lineGroupId" type="password" name="lineGroupId">
            {{ .LineEntered.LineGroupID }}
            <br/>
            <label for="lineGroupIdDelete">LINEグループID削除</label>
            <input id="lineGroupIdDelete" type="checkbox" name="lineGroupIdDelete">
            <br/>

            <label for="lineClientId">LINEのクライアントID</label>
            <input id="lineClientId" type="password" name="lineClientId">
            {{ .LineEntered.LineClientID }}
            <br/>
            <label for="lineClientIdDelete">LINEのクライアントID削除</label>
            <input id="lineClientIdDelete" type="checkbox" name="lineClientIdDelete">
            <br/>

            <label for="lineClientSecret">LINEのクライアントシークレット</label>
            <input id="lineClientSecret" type="password" name="lineClientSecret">
            {{ .LineEntered.LineClientSecret }}
            <br/>
            <label for="lineClientSecretDelete">LINEのクライアントシークレット削除</label>
            <input id="lineClientSecretDelete" type="checkbox" name="lineClientSecretDelete">
            <br/>

            <label for="defaultChannel">Discordに送信するデフォルトのチャンネル</label>
            <select id="defaultChannel" name="defaultChannelId" >
                {{ .Channels }}
            </select>
            <br/>

            <label for="debugMode">デバッグモード</label>
            <input id="debugMode" type="checkbox" name="debugMode" {{ if .LineEntered.LineDebugMode }} checked {{ end }}>
            <br/>

            {{ .SubmitTag }}
        </form>
    </main>
    <!-- 以下JavaScriptを記述 -->
{{ end }}
